<div class="container-form">
  <h1>Book this experience</h1>
  <%= render "experiences/show_details_in_form", experience: @experience %>
  <div class="form">
    <%= simple_form_for [@experience, @booking] do |f| %>
      <%= f.input :date_start, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.input :date_end, as: :string, input_html: {class: 'datepicker'} %>
      <%= f.submit "Book", class: "btn btn-ghost"%>
      <%= link_to "Back", experience_path(@experience.id), class: "btn btn-ghost"%>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $('.datepicker').datepicker();
  });
</script>
