
<div class="card-experience">
  <% if experience.photos&.attached? %>
    <div class="card-experience-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path experience.photos.first.key, crop: :fill %>')"></div>
  <% end %>
  <div class="card-experience-description">
    <p><i class="fa-solid fa-star"></i> <%= experience.average_rating %></p>
    <h4><%=experience.title%></h4>
    <p><%= experience.description%></p>
  </div>
  <%= link_to '', experience_path(experience.id), class: 'card-link'%>
</div>
