<div class="container-form">
  <h1>Edit this experience</h1>
  <%= render "show_details_in_form", experience: @experience %>
  <div class="form">
  <%= simple_form_for @experience do |f| %>
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :location %>
    <div class="form-actions">
      <%= f.submit "Edit Experience", class: "btn btn-ghost"%>
      <%= link_to "Back", experience_path(@experience.id), class: "btn btn-ghost"%>
    </div>
  <% end %>
  </div>
</div>
