<div>
  <% image_tag = "gqwk5xhntgi8nsxajvi6" %>
  <div class="image-front"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'motocross.jpg' %>')">
    <h1 class="image-front-text">Find thousands of experiences all around the world.</h1>
    <div class="search-bar container rounded">
      <%= form_with url: experiences_path, method: :get, class: "d-flex", id: "search-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by location"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div >
    <%= render "marketing" %>
    <div>
        <h2 class="container cards-experiences-title">Popular experiences </h2>
        <%= link_to "Add an experience", new_experience_path%>
    </div>
  </div>
  <hr class="cards-experience-line" />

  <div class="container">
    <div class="cards-experiences">
      <% @experiences.each do |experience|  %>
        <%= render "experience", experience: experience %>
      <% end %>
    </div>
  </div>
</div>
