<div>
  <% image_tag = "gqwk5xhntgi8nsxajvi6" %>
  <div class="image-front"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'motocross.jpg' %>')">
    <h1 class="image-front-text">Find thousands of experiences all around the world.</h1>
    <div class="image-search-form"><%= render "search_form" %></div>
  </div>
  <div >
    <%= render "marketing" %>
    <h2 class="container cards-experiences-title">Popular experiences <%= link_to "Add an experience", new_experience_path, class: "btn btn-flat" %></h2>

  </div>
  <hr class="cards-experience-line" />

  <div class="container">
    <div class="cards-experiences">
      <% @experiences.each do |experience|  %>
        <%= render "experience", experience: experience %>
      <% end %>
    </div>
  </div>
</div>
