<div class="container-form">
  <h1>Create an experience</h1>
  <div class="form-photo-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'motocross.jpg', crop: :fill %>')"></div>

  <div class="form">
  <%= simple_form_for @experience do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :location %>
    <%= f.input :photo, as: :file %>
    <div class="form-actions">
      <%= f.submit "Create your experience", class: "btn btn-ghost" %>
      <%= link_to "Back", experiences_path, class: "btn btn-ghost"%>
    </div>
  <% end %>
  </div>
</div>
