<div class="banner">
  <div class="container">
    <%= link_to "Go Back", experiences_path, class:"btn btn-light"%>
    <p></p>
    <div class = "image-experience">
      <%= image_tag cl_image_path @experience.photo.key %>
    </div>
  </div>
</div>



<div class="experience-info">
  <div class="container exp-container">
    <div class="row row-cols-auto">
      <div class="col-md-12">
        <h2><%= @experience.title %> <%= link_to "Select dates", new_experience_booking_path(@experience), class: 'btn btn-success' %></h2>
        <h5><%= @experience.location %> | <%= @experience.category %> </h5>
        <p><%= @experience.description %></p>
      </div>
      <div class="com-md-0">
        <%= link_to "Add review", new_experience_review_path(@experience)%>
      </div>
    </div>
  </div>
</div>


<div class="review">
  <div class="container">
    <div class="cards-review">
       <% @reviews.each do |review| %>
        <%= render "review", review: review %>
       <% end %>
    </div>
  </div>
</div>
