<div class="container">
  <div class="banner-show">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">


        <% @experience.photos.each_with_index do |photo, index| %>
          <% if index == 0  %>
              <div class="carousel-item active">
              <%= cl_image_tag photo.key, class: "image-experience" %>
              </div>
            <% else  %>
              <div class="carousel-item">
              <%= cl_image_tag photo.key, class: "image-experience" %>
              </div>
            <% end %>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>




<div class="experience-info">
  <div class="container exp-container">
    <div class="row row-cols-auto">
      <div class="col-md-12">
        <h5><%= @experience.location %> | <%= @experience.category %> </h5>
        <p><%= @experience.description %></p>
      </div>
      <div class="com-md-0">
          <h2><%= @experience.title %></h2>
          <%= link_to "Edit experience", edit_experience_path(@experience), class: "btn btn-ghost"%>
          <%= link_to "Remove this experience", experience_path(@experience), class: "btn btn-ghost", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          <%= link_to "Add a review", new_experience_review_path(@experience), class: "btn btn-ghost"%>
          <%= link_to "Book your experience", new_experience_booking_path(@experience), class: 'btn btn-ghost' %>
          <%= link_to "Back", experiences_path, class:"btn btn-ghost"%>
      </div>
    </div>
  </div>
</div>


<div class="review">
  <div class="container">
    <div class="cards-review">
       <% @reviews.reverse.each do |review| %>
        <%= render "review", review: review %>
       <% end %>
    </div>
  </div>
</div>
